.rq-container{
max-width:700px;
margin:auto;
padding:30px;
text-align:center;
}

.intro{
margin-bottom:30px;
color:#555;
}

.student-card{
display:flex;
align-items:center;
gap:20px;
background:#3d9ab6;
padding:15px;
border-radius:10px;
margin-bottom:40px;
}

.student-photo{
width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
}

.rq-options{
display:flex;
justify-content:center;
gap:20px;
}

.rq-btn{
padding:15px 25px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}

.invite{
background:#0d6910;
color:white;
}

.join{
background:#2196F3;
color:white;
}

.rq-btn:hover{
opacity:0.9;
}
/*request form*/
.rq-form{
max-width:650px;
margin:auto;
background:#56c2dd;
padding:30px;
border-radius:10px;
}

.rq-form h2{
text-align:center;
margin-bottom:20px;
}

.rq-form h3{
margin-top:25px;
color:#1976d2;
}

.rq-form label{
display:block;
margin-top:12px;
font-weight:bold;
}

.rq-form input,
.rq-form select,
.rq-form textarea{

width:100%;
padding:10px;
margin-top:5px;
border-radius:6px;
border:1px solid #ccc;
}

.rq-submit{
margin-top:20px;
background:#4CAF50;
color:white;
padding:12px;
border:none;
border-radius:6px;
cursor:pointer;
width:100%;
}

.rq-submit:hover{
background:#43a047;
}
.rq-hosts{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:20px;
padding:20px;

}

.rq-host-card{

background:#5aaae4;
border-radius:10px;
padding:20px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);

}

.host-header{

display:flex;
gap:15px;
align-items:center;

}
.host-room{
    background:#5aaae4;
}

.host-photo{

width:60px;
height:60px;
border-radius:50%;
object-fit:cover;

}

.room-photo{

width:100%;
border-radius:8px;
margin:10px 0;

}

.join-btn{

display:block;
text-align:center;
background:#4CAF50;
color:white;
padding:10px;
border-radius:6px;
margin-top:10px;
text-decoration:none;

}

.join-btn:hover{

background:#43a047;

}
.rq-actions{
display:flex;
gap:10px;
margin-top:10px;
}

.accept-btn{
flex:1;
text-align:center;
background:#4CAF50;
color:white;
padding:8px;
border-radius:6px;
text-decoration:none;
}

.reject-btn{
flex:1;
text-align:center;
background:#e53935;
color:white;
padding:8px;
border-radius:6px;
text-decoration:none;
}

.accept-btn:hover{
background:#43a047;
}

.reject-btn:hover{
background:#d32f2f;
}